# --- to execute setup.py whatever the goal
pytest-runner
setuptools_scm

# -- to install
doit$DOIT_VERSION  # on python 2 we need ==0.29

# --- to generate the reports (see scripts in ci_tools, called by .travis)
pytest-html==1.9.0  # otherwise requires pytest 5
xunitparser
requests

# --- to run the tests
pytest  # $PYTEST_VERSION
pytest-logging  # ==2015.11.4

# --- to generate the reports (see scripts in ci_tools, called by .travis)
# coverage

# --- to generate the doc (see .travis)
# does not work on python 2 anymore
# mkdocs-material  # ==2.7.3
# mkdocs  # ==0.17.3  # this is to prevent a version non-compliant with mkdocs-material to be installed.
